.fixed-top{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-color: rgb(48, 48, 48);
}

.fixed-top span{
color:white;
}
.fixed-top a{
    color:white;
}
